* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100%;
  font-size: 14px;
  font-weight: normal;
}
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
